<div
    class="w-full flex flex-col"
    x-data="{ activeTab: 'goaltunes', currentSound: null, isPlaying: false }"
>
    <!-- Tab Buttons -->
    <div class="flex flex-row">
        {{ taxonomy from="sound_categories" sort="sort_key" }}
        <button
            @click="activeTab = '{{ slug }}'"
            :class="{ 'bg-hks-dark text-white': activeTab === '{{ slug }}', 'bg-gray-100 text-black': activeTab !== '{{ slug }}' }"
            class="tab-button w-full p-2 flex items-center justify-center border border-gray-300 transition"
        >
            {{title}}
        </button>
        {{ /taxonomy }}
    </div>

    <!-- Sound Buttons -->
    {{ taxonomy from="sound_categories" sort="sort_key" }}
    <div
        x-show="activeTab === '{{ slug }}'"
        x-cloak
        class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-4 m-4"
    >
        {{ collection:sounds taxonomy:sound_categories="{{slug}}" }}
        <button
            @click="soundPlayer.toggleSound('{{ sound }}', (playing) => { 
            currentSound = '{{ sound }}'; 
            isPlaying = playing; 
        })"
            :class="{ 'scale-95 opacity-75': currentSound === '{{ sound }}' && isPlaying }"
            class="tab-button w-full bg-hks-dark text-white text-xs aspect-square rounded-lg shadow-lg flex justify-center items-center transition-all"
        >
            {{ title }}
        </button>

        {{ /collection:sounds }}
    </div>
    {{ /taxonomy }}
</div>
